@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model WeatherViewModel
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Weather - ";
}

@if (Model.ErrorType != WeatherErrorType.None)
{ 
    <div class="alert alert-danger">
        @Localizer[Model.ErrorType.ToString()]
    </div>
}

@*Form for inputing name of the city in API*@
<div class="text-center">
    <h1 class="display-4">SkyWatch</h1>
    <form method="post" id="weatherForm">
        <div class="city-search">
            <input id="cityInput" 
                   name="cityName" 
                   autocomplete="off"
                   placeholder="@Localizer["TypeCityHint"]"/>
            
            <div id="suggestions" class="suggestions"></div>
        </div>

        <input type="hidden" name="Lat" value="@Model.Lat">
        <input type="hidden" name="Lon" value="@Model.Lon"/>
        
        <select name="units" id="unitsSelect">
            <option value="metric" selected="@(Model.units == "metric")">@Localizer["Celsius"] &deg;C</option>
            <option value="imperial" selected="@(Model.units == "imperial")">@Localizer["Fahrenheit"] &deg;F</option>
            <option value="standard" selected="@(Model.units == "standard")">@Localizer["Kelvin"] K</option>
        </select>

        @* <input type="submit" value="@Localizer["SubmitButton"]"> *@
    </form>

    @*Checks for null, because in first appearence it might cause Exception 
    and shows skeleton before data (probably not working)*@
    @if (Model.CurrentWeather == null && Model.ErrorType == WeatherErrorType.None)
    {
        <div class="weather-skeleton">
            <div class="skeleton-line title"></div>
            <div class="skeleton-line temp"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line short"></div>
        </div>
    }
    
    @*Shows weather info*@
    @if (Model.CurrentWeather != null)
    { 
        <div id="weather-data">
            @if (!string.IsNullOrEmpty(Model.CityDisplayName))
            {
                <h1>@Localizer["CityName"] - @Model.CityDisplayName</h1>
            }
            <h1>@Localizer["StateOfWeather"] - @Model.CurrentWeather.weather[0].Description</h1>
            <h1>@Localizer["CurrentTemperature"] =
                @Math.Round(Model.CurrentWeather.main.temp)
                @Model.TemperatureUnit
            </h1>
            <h1>@Localizer["FeelsLikeTemperature"] =
                @Math.Round(Model.CurrentWeather.main.feels_like)
                @Model.TemperatureUnit
            </h1>
            <h1>@Localizer["MinimumTemperature"] =
                @Math.Round(Model.CurrentWeather.main.temp_min)
                @Model.TemperatureUnit
            </h1>
            <h1>@Localizer["MaximumTemperature"] =
                @Math.Round(Model.CurrentWeather.main.temp_max)
                @Model.TemperatureUnit
            </h1>
            <h1>@Localizer["Humidity"] = @Model.CurrentWeather.main.humidity%</h1>
            <h1>@Localizer["WindSpeed"] =
                @Model.CurrentWeather.wind.speed
                @Localizer[$"{Model.SpeedWindUnit}"]
            </h1>
            <h1>@Localizer["WindDirection"] = 
                @Localizer[$"{Model.WindDirectionKey}"] (@Model.CurrentWeather.wind.deg&deg;)</h1>
        </div>
        
        <div class="hourly-wrapper">
            <button class="scroll-btn left" id="scrollLeft">‹</button>
            <div class="hourly-scroll hidden" id="hourlyScroll">
                @foreach (var item in Model.HourlyForecastWeather.list)
                {
                    var date = DateTime.Parse(item.dt_txt, CultureInfo.InvariantCulture);
                    var culture = CultureInfo.CurrentUICulture;
                    <div class="hourly-card">
                        <div class="hourly-day">
                            @culture.DateTimeFormat.GetDayName(date.DayOfWeek)
                        </div>
                        <div class="hourly-time">
                            @date.ToString("HH:mm")
                        </div>

                        <div class="hourly-temp">
                            @Math.Round(item.main.temp)
                            @Model.TemperatureUnit
                        </div>

                        <div class="hourly-minmax">
                            @Localizer["MinMaxTemperature"]<br/>
                            @Math.Round(item.main.temp_min) @Model.TemperatureUnit /
                            @Math.Round(item.main.temp_max) @Model.TemperatureUnit
                        </div>
                    </div>
                }
            </div>
            <button class="scroll-btn right" id="scrollRight">›</button>
        </div>
    }
</div>